.ReactCodeMirror,
.CodeMirror {
  height: 100%;
}

.jsxElement {
  display: inline-block;
}

.jsxElement ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.jsxElementChild {
  padding-left: 16px;
}

.expansionToggle {
  vertical-align: top;
  cursor: pointer;
}

.openingElement:hover {
  text-decoration: underline;
  cursor: pointer;
}

.jsxElement.selected {
  /*background-color: #f7e8aa;*/
  background-color: rgba(255,240,6,.4);
  border-radius: 5px;
}
